body {
  margin: 0;
  font-family: "Segoe UI", Roboto, sans-serif;
  background: #f5f9fc;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}
.info {
  text-align: center;
  margin-top: 1rem;
}
.error {
  color: #d32f2f;
}
